:root {
    --white: white;
    --primary-color: #9AC53C;
    --secundaria: #d9129d;
    --padrao-color: #000000;
    --dark-color: #1e2338;
    --hover-color: #a6b1e1;
    --fundo-secundario: #F5F5F5;
    --font-family: 'DM Sans', sans-serif;
}